/* RESETANDO A PÁGINA */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

:root{
    --txtGeral: #422200;
    --txtClaro1: #FFF;
    --txtClaro2: #EEEEEE;
    --txtClaro3: #FFF600;
    --bgdestaque: #422200;
    --bgsuave: rgba(66,34,0,0.5);
}

body{
    background-color: var(--bgsuave);
}

header{
    background-color: var(--bgdestaque);
    margin-bottom: 50px;
    position: sticky;
    top:0;
    left: 0;
    z-index: 10;
}

#logo{
    height: 100px;
}

.nav-link{
    color: var(--txtClaro1);
}

.navbar-hover-color{
    color: var(--txtClaro3);
}

.active{
    color: var(--txtClaro1);
}

.carousel-caption{
    padding: 5px;
}

.carousel-caption h4{
    color: var(--txtClaro2);
    margin-bottom: 15px;
}

section{
    padding-top: 126px;
}

section h2{
    font-weight: 500;
}

section p{
    text-align: justify;
    font-weight: 500;
}

.container, .produtos{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}


.container h2,
.produtos h2{
    color: var(--txtGeral);
    padding-bottom: 10px;
    border-bottom: 2px solid var(--bgdestaque);
}

.container p,
.produtos p{
    margin-bottom: 25px;
}

.container p>a
.produtos p>a{
    color: var(--bgdestaque);
    font-weight: bold;
}

.card{
    margin-top: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}
.col{
    max-width: 31%;
}

.card-header{
    padding: 20px;
    color: var(--txtGeral);
    text-align: center;
    font-weight: bold;
}

.card-footer{
    text-align: center;
}

.price del{
    color: #B3010D;
    font-size: 14px;
}

.card-text{
    color: var(--txtGeral);
}

.tab-content .form-control{
    width: 50px;
}

.tab-content{
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

form{
    padding: 20px;
    margin: 0 auto;
}

.d-grid{
    margin-top: 10px;
}

.form-check-label{
    color: var(--txtGeral);
}

.container-flex{
    margin: 0 auto;
    width: 500px;
}

footer{
    margin-top: 50px;
    text-align: center;
    padding: 10px;
}

/* PARA RESOLUÇÃO DE SMARTPHONES */

@media screen and (max-width: 767px){
    .container, .produtos{
        width: 90%;
        display: block;
    }

    #logo{
        height: 95px;
    }


    .navbar-toggler{
        margin: 0 auto;
    }

    .menu{
        color: var(--txtClaro2);
    }

    .col{
        max-width: 100%;
    }
    
    .nav-item{
        text-align: center;
    }

    section{
        padding-top: 165px;
    }
    
    .container h2{
        font-size: 22px;
    }

    .carousel-item h4{
        font-size: .9em;
    }

    .container-flex{
        margin: 0 auto;
        width: 100%;
    }

}

/* PARA RESOLUÇÃO DE TABLETS */

@media screen and (min-width: 768px) and (max-width:1023px){
    .container, .produtos{
        width: 90%;
        display: block;
    }

    .navbar-toggler{
        margin: 0 auto;
    }

    .col{
        max-width: 48%;
    }
    
}